*{
    margin: auto;
}
#main{
    margin: auto;
    width: 25% ;
    height: 620px ;
    position: relative
}
#main  > *{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;/**/
    overflow: hidden;
}


.game-room{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../src/images/level6_bg_3.jpg);
}

.information{
    display: block;
    color: red;
    font-weight: 600;
    font-size: medium;
    font-family: Ubuntu;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.information > *{
    float: left;
    margin: 0px;
    padding: 0 0 0 5px;
}

.information-group{
    width: 100%;
    height: 10%;
    background-image: url(../src/images/dialog_2.png);
    background-size: 100% 100%;
}

.information-group > div{
    float: left;
}

.btn-attack{
    border: none;
    background-size: 100% 100%;/**/
    background: transparent;
    background-image: url(../src/images/attack_button_normal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.btn-attack:active{
    background-image: url(../src/images/attack_button_press.png);
}

.btn-group > input{
    float: left;
}

.game-map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.game-map > *{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.game-map-map1 {
    top: -100%;
    background-image: url(../src/images/gamebg_1.jpg);
}

.game-map-map2{
    top: 0%;
    background-image: url(../src/images/gamebg_2.jpg);
}

.fly{
    position: absolute;
    border: red solid;
    background: url(../src/images/enemy_10.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


