*{
    margin: auto;
}
#main{
    margin: auto;
    width: 25% ;
    height: 620px ;
    border: solid red;
    position: relative;
}
#main  > *{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;/**/
    overflow: hidden;
}


/*子弹盒子*/
#bullets-box{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    z-index: 9;
}


/*英雄飞机盒子*/
#hero-plane-box{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    z-index: 9;
}

/*敌人飞机盒子*/
#enemy-plane-box{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    z-index: 9;
}

#hero-plane-boom-box{
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    opacity: 0.4;
    z-index: 0;
}

/*游戏房间*/
.game-room{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../src/images/level6_bg_3.jpg);
}

/*一条消息*/
.information{
    display: block;
    color: red;
    font-weight: 600;
    font-size: medium;
    font-family: Ubuntu;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/*被按下的开始按钮*/
.information > *{
    float: left;
    margin: 0px;
    padding: 0 0 0 5px;
}

/*消息组*/
.information-group{
    width: 100%;
    height: 10%;
    position: absolute;
    background-image: url(../src/images/dialog_2.png);
    background-size: 100% 100%;
    z-index: 10;
}

/*消息组内的所有元素*/
.information-group > div{
    float: left;
}

/*按钮组*/
.btn-group{
    z-index: 10;
    /*background-image: url(../src/images/dialog_2.png);*/
    background-size: 100% 100%;
}

/*按钮内的所有元素*/
.btn-group > input{
    float: left;
}

/*正常的开始按钮*/
.btn-attack{
    border: none;
    background: transparent;
    background-image: url(../src/images/attack_button_normal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

/*被按下的开始按钮*/
.btn-attack:active{
    background-image: url(../src/images/attack_button_press.png);
}


/*游戏地图*/
.game-map {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*游戏地图的所有标签*/
.game-map > *{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*游戏地图的第一张图片*/
.game-map-map1 {
    top: -100%;
    /*background-image: url(../src/images/gamebg_0.jpg);*/
    background-image: url(../src/images/gamebg_1.jpg);
    transform: scaleY(-1);
}

/*游戏地图的第二张图片*/
.game-map-map2{
    top: 0%;
    background-image: url(../src/images/gamebg_1.jpg);
}

/*飞行物体*/
.fly{
    position: absolute;
    background: url(../src/images/enemy_10.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*英雄飞机*/
.hero-plane{
    /*border: solid red;*/
    position: absolute;
    background: url(../src/images/img_plane_main.png);
    background-repeat: no-repeat;
    background-size:  300px;
    background-position: -230px 0px;
}

/*英雄子弹*/
.hreo-bullet {
    position: absolute;
    /*border: red solid;*/
    background: url(../src/images/bullet_1.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}

/*敌人飞机*/
.enemy-plane1{
    position: absolute;
    background: url(../src/images/enemy_1.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane2{
    position: absolute;
    background: url(../src/images/enemy_2.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane3{
    position: absolute;
    background: url(../src/images/enemy_3.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane4{
    position: absolute;
    background: url(../src/images/enemy_4.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane5{
    position: absolute;
    background: url(../src/images/enemy_5.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane6{
    position: absolute;
    background: url(../src/images/enemy_6.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane7{
    position: absolute;
    background: url(../src/images/enemy_7.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane8{
    position: absolute;
    background: url(../src/images/enemy_8.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane9{
    position: absolute;
    background: url(../src/images/enemy_9.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.enemy-plane10{
    position: absolute;
    background: url(../src/images/enemy_10.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}



/*敌人子弹*/
.enemy-bullet1{
    position: absolute;
    background: url(../src/images/enemy_bullet_1.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet2{
    position: absolute;
    background: url(../src/images/enemy_bullet_2.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet3{
    position: absolute;
    background: url(../src/images/enemy_bullet_3.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet4{
    position: absolute;
    background: url(../src/images/enemy_bullet_4.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet5{
    position: absolute;
    background: url(../src/images/enemy_bullet_5.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet6{
    position: absolute;
    background: url(../src/images/enemy_bullet_6.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet7{
    position: absolute;
    background: url(../src/images/enemy_bullet_7.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet8{
    position: absolute;
    background: url(../src/images/enemy_bullet_1.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet9{
    position: absolute;
    background: url(../src/images/enemy_bullet_1.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}
.enemy-bullet10{
    position: absolute;
    background: url(../src/images/enemy_bullet_1.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    z-index: 11;
}


.boom1, .boom2, .boom3, .boom4, .boom5, .boom6, .boom7, .boom8, .boom9, .boom10 {
    position: absolute;
    background-repeat: no-repeat;
    background-size:  100% 100%;
}

.boom1{
    background: url(../src/images/boom1.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom2{
    background: url(../src/images/boom2.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom3{
    background: url(../src/images/boom3.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom4{
    background: url(../src/images/boom4.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom5{
    background: url(../src/images/boom5.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom6{
    background: url(../src/images/boom6.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom7{
    background: url(../src/images/boom7.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom8{
    background: url(../src/images/boom8.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom9{
    background: url(../src/images/boom9.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
.boom10{
    background: url(../src/images/boom10.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
